.logo__subtitle {
    width: 200px;
    margin: 0;
    font-family: 'Neo Sans Pro';
    font-size: 18px;
    color: rgb(139, 141, 2);
}

@media (max-width: 830px) { 
    .logo__subtitle {
        font-size: 14px;
    }
}