.logo__title {
    width: 200px;
    font-family: 'Merriweather', serif;
}
@media (max-width: 830px) { 
    .logo__title {
        font-size: 32px;
    }
}
@media (max-width: 650px) { 
    .logo__title {
        font-size: 26px;
    }
}
@media (max-width: 375px) { 
    .logo__title {
        width: 100%;
    }
}