.navigation__link {
    color: #000;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 800;
}
.navigation__link:hover {
    color: #FFF;
    cursor: pointer;
}

@media (max-width: 830px) { 
    .navigation__link {
        font-size: 24px;
    }
}