.header {
    margin: auto;
    width: 1140px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Neo Sans Pro';
}

@media (max-width: 1024px) { 
    .header {
        width: 100%;
    }
}
@media (max-width: 650px) { 
    .header {
        padding: 10px;
    }
}