.services__wrapper {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 1024px) { 
    .services__wrapper {
        flex-wrap: wrap;
        row-gap: 30px;
        justify-content: space-evenly;
    }
}