.form__input {
    font-family: 'Neo Sans Pro Light';
    font-size: 1.5rem;
    width: 300px;
    height: 30px;
    margin-top: 20px;

}
.form__input_comment {
    height: 100px;
}

@media (max-width: 400px) { 
    .form__input {
        width: 250px;
    }
}