.founder__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1024px) { 
    .founder__wrapper {
        column-gap: 50px;
    }
}
@media (max-width: 650px) { 
    .founder__wrapper {
        flex-direction: column;
        row-gap: 20px;
    }
}