.about__subtitle {
    padding: 5px 5px 5px 20px;
    margin-bottom: 6px;
    background-color: #fff;
    background-color: rgb(255, 198,6);
    font-size: 28px;
}
@media screen and (max-width: 920px) { 
    .about__subtitle {
        font-size: 14px;
    }
}